@font-face {
    font-family: Tiller;
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(font-regular.woff2) format("woff2");
}

@font-face {
    font-family: Tiller;
    font-style: normal;
    font-weight: 600;
    font-display: swap;
    src: url(font-bold.woff2) format("woff2");
}

html {
    background-color: rgb(245, 245, 242);
    font-family: Tiller, sans-serif;
}

body {
    background-position: left bottom;
    background-position-x: left;
    background-position-y: bottom;
    background-repeat: repeat;
    background-image: url(bg.png);
    margin: 0px;
    text-align: center;
}

header {
    position: sticky;
    top: 0;
    width: 100%;
    height: 56px;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 242);
    border-bottom: 5px solid rgb(236, 224, 181);
    z-index: 3;
}

.header-content {
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 650px;
    height: 100%;
    position: relative;
    margin: 0 1em;
}

footer {
    width: 100%;
    height: 70px;
    text-align: center;
    align-content: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgb(245, 245, 242);
    border-top: 5px solid rgb(236, 224, 181);
}

footer p {
    transform: translateY(-4px);
    position: absolute;
    left: 0;
}

#game {
    margin: 0 auto;
    padding-top: 1.75em;
    max-width: 650px;
    padding-left: 0.75em;
    padding-right: 0.75em;
    padding-bottom: 2em;
    justify-items: center;
}

img {
    width: 100%;
}

.banner-img {
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    border-color: #ceccba;
    aspect-ratio: 2;
    object-fit: cover;
    object-position: 0 30%;
}

h1 {
    font-size: 2rem;
    font-weight: 600;
    text-transform: uppercase;
    line-height: 1;
    letter-spacing: .025em;
    color: #49423a;
    font-size: 30px;
}

p {
    color:#786f56;
    margin: 0px;
}

.title {
    font-size: 1.25em;
    position: absolute;
    left: 0;
}
.title1 {
    color: #49423a;
}
.title2 {
    color: #aa8c2c;
}
hr {
    border: 1px solid #49423a;
    border-radius: 20px;
    margin: 2em 0px;
}
#hero_text_title {
    padding: 0 5px;
}

.game-board {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    gap: 6px;
    margin-top: 7em;
    margin-bottom: 2em;
    max-width: 600px;
}

.game-col-header {
    color: #49423a;
    font-size: clamp(10px, 2cqw, 14px);
    font-weight: 600;
    text-transform: uppercase;
}

.game-board-cell {
    border-radius: 3px;
    align-content: center;
    justify-content: center;
    align-items: center;
    border: 2px solid #e4e5dc;
    background-color: #f5f5f1;
    font-size: 7px;
    /* aspect-ratio: calc(2.5/3.5); */
    overflow: hidden;
}

.game-board-cell.guess {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    text-transform: uppercase;
    font-weight: bold;
    background: none;
    border: none;

}
.game-board-cell.guess img {
    border-radius: 3px;
}
.game-board-cell.guess .icon {
    width: 40%;
    position: absolute;
    border-radius: 100%;
    border-style: solid;
    border-width: 2px;
}
.game-board-cell.set img {
    filter: drop-shadow(0px 0px 2px gray);
}
.game-board-cell.faction {
    align-items: start;
}
.game-board-cell.faction img {
    width: 70%;
    filter: drop-shadow(0px 0px 2px gray);
}
.game-board-cell.type .container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
}
.game-board-cell.type .container p {
    text-transform: uppercase;
    font-weight: bold;
    color: #49423a;
    align-content: center;
    font-size: clamp(8px, 2cqw, 14px);
    padding: 2px;
}
.game-board-cell.cost .container {
    display: grid;
    grid-template-columns: 1fr;
    height: 100%;
    width: 100%;
}
.cost_value {
    font-size: clamp(14px, 2.5cqw, 20px);
    font-weight: bold;
    color: #49423a;
    text-transform: uppercase;
    align-content: center;
    letter-spacing: 2px;
}

.player-input {
    justify-items: center;
    position: absolute;
    left: 1em;
    right: 1em;
    z-index: 2;
}

.player-input input {
    width: 92%;
    max-width: 500px;
    height: 50px;
    font-family: 'Tiller';
    border: 5px solid rgb(236, 224, 181);
    border-radius: 50px;
    text-align: center;
    font-size: 16px;
}

.player-input-autocomplete {
    width: 83%;
    max-width: 400px;
    list-style: none;
    padding: 0px;
    margin: -1px auto 0 auto;
    border: 4px solid rgb(236, 224, 181);
    border-top: 0;
}

.player-input-autocomplete li {
    align-content: center;
    background-color: rgb(245, 245, 242);
    cursor: pointer;
    cursor: pointer;
    padding: 7px;
    display: flex;
    gap: 14px;
    align-items: center;
    height: 60px;
}

.player-input-autocomplete li.selected {
    background-color: #e4e5dc;
}
.player-input-autocomplete li:hover {
    background-color: #e4e5dc;
}
.player-input-autocomplete li img {
    width: 40px;
    object-fit: contain;
    object-position: center center;
}

.hidden {
    display: none;
}

.translucent {
    filter: opacity(0.5);
}

input:focus,
select:focus,
textarea:focus,
button:focus {
    outline: none;
}

.true {
    background-color: #c8ecc8;
    border-color: #4d844d;
}
.false {
    background-color: #f1c0c0;
    border-color: #c73d3d;
}
.partial {
    background-color: #f1f1c0;
    border-color: #c7c03d;
}
.neither {
    border-color: #786f56;
}

.game_result img {
    max-width: 350px;
    border-radius: 14px;
    filter: drop-shadow(0 0 0.75rem gray);
}
.game_result h1 {
    margin-bottom: 0px;
}
.game_result p {
    margin: 8px 0 1.5em 0;
}
#countdown h1 {
    margin: 8px 0;
}
#countdown p {
    margin: 0 0 8px 0;
}

a {
    color: #aa8c2c;
}

.watermark {
    width: 80px;
    margin-left: 0.25em;
    position: absolute;
    right: 0;
}

#language_toggle {
    border: 1px solid #d7d6d1;
    border-radius: 4em;
    background-color: #f5f5f1;
    color: #d7d6d1;
    cursor: pointer;
    position: absolute;
    right: 0;
    font-size: 16px;
    padding: 8px 10px;
    letter-spacing: 1px;
}

#language_toggle:hover {
    background-color: #ecebe8;
}

#share_button {
    border: 4px solid #e4e5dc;
    color: #625948;
    padding: .625rem 1.25rem;
    background-color: #f5f5f1;
    font-weight: bold;
    padding: 12px 24px;
    border-radius: 16px 8px;
    cursor: pointer;
    -webkit-transition: border-radius 200ms linear;
    -ms-transition: border-radius 200ms linear;
    transition: border-radius 200ms linear;
    margin-top: 1.5em;
}
#share_button:hover {
    border-color: #e5cf87;
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
#share_button_text {
    font-family: Tiller;
    font-size: clamp(14px, 2cqw, 16px);
}
