{% set title = "Alteredle" %}
{% extends "base.html" %}

{% block content %}
<div id="game">
    <img class="banner-img" src="https://cdn.alteredcore.org/illustrations_hd/CORE/ALT_CORE_B_OR_09_C_FRAMELESS_T1.jpg">
    <h1 id="hero_text_title"><span id="hero_text" class="title1"></span><span class="title2">Altered TCG</span></h1>
    <div class="player-input">
        <input id="game_search_input" type="text" oninput="player_search(self)">
        <ul id="game_search_autocomplete" class="player-input-autocomplete hidden"></ul>
        <div id="countdown" class="hidden">
        <p id="countdown_title"></p>
        <h1 id="countdown_timer">0h 0m 0s</h1>
        </div>
    </div>
    <div id="game_board" class="game-board"></div>

    <a id="player_hint" class="altered_button" href="https://github.com/FragileClick/Alteredle#card-list"></a>

    <div id="game_result" class="game_result hidden">
        <h1 id="result_title" class="title1"></h1>
        <p id="result_subtitle"></p>
        <div id="result_card_container" onPointerEnter="cardAnimationStart(event)" onPointerMove="cardAnimationMove(event)" onPointerLeave="cardAnimationStop(event)">
            <img id="result_card_foil_overlay" src="static/assets/foil.webp" draggable="false" class="hidden">
            <img class="game_result_img" src="static/assets/cardback.webp" draggable="false">
            <div id="result_card_specular_overlay"></div>
        </div>
    </div>
    <button id="share_button" class="altered_button hidden"><p id="share_button_text" class="altered_button_text"></p></button>
</div>
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="static/js/fuse.js"></script>
<script type="text/javascript" src="static/js/lib.js"></script>
<script type="text/javascript" src="static/js/db.js"></script>
<script type="text/javascript" src="static/js/countdown.js"></script>
<script type="text/javascript" src="static/js/cardanimation.js"></script>
<script type="text/javascript" src="static/js/main.js"></script>
{% endblock %}
